<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weight1</key>
	<string>199</string>
	<key>weight2</key>
	<string>198</string>
	<key>weight3</key>
	<string>197</string>
	<key>weight4</key>
	<string></string>
</dict>
</plist>
